<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head >
    <title>Liste des conteneurs</title>
    <div th:replace="header::header"></div>
</head>

<body class="p-3 mb-2 bg-dark text-white">
     <h1>DOCKER</h1>
     <p>Hosted on : <strong th:text="${dockerHost}"></strong></p>
     
	<div class="container">
      <table class="table table-dark table-striped">
    	<thead>
    		<tr>
    			<th scope="col" class="bg-info" >#</th>
    			<th scope="col" class="bg-info" >Container ID</th>
    			<th scope="col" class="bg-info" >Name</th>
    			<th scope="col" class="bg-info" >Image</th>
    			<th scope="col" class="bg-info" >Command</th>
<!--     			<th scope="col" class="bg-info" >Ports</th> -->
    			<th scope="col" class="bg-info" >Created</th>
    			<th scope="col" class="bg-info" >Status</th>
    			<th scope="col" class="bg-info" >Actions</th>
    		</tr>
    	</thead>
    	<tbody>
    		<th:block  th:each="container,line : ${containers}">
         		<tr>
         			<td scope="row" th:text="${line.index}"></td>
         			<td th:text="${#strings.abbreviate(container.id, 15)}"></td>
         			<td>
         				<th:block th:each="name,iter :${container.names}">
         					<!-- Afficher qu'un seul nom du conteneur -->
	         				<div th:switch="${iter.size}"> 
							  <span th:case="1" th:text="${#strings.substringAfter(name, '/')}"></span>
							  <span th:case="*" th:if="${iter.index}==1" th:text="${#strings.substringAfter(name, '/')}"></span> <!-- Si plusieurs n'afficher que le 2e nom -->
							</div>
         				</th:block>
         			</td>
       				<td th:text="${container.image}"></td>
       				<td th:text="${container.command}"></td>
<!-- 					<th:block th:each="port,iter :${container.ports}">
						<td th:text="${port}">Hello</td>
					</th:block> -->
       				<td th:text="${#dates.format(container.created*1000, 'dd-MMM-yyyy')}"></td>
					<td th:text="${container.status}"></td>
					<td>
						<a th:href="@{/containers/}+${container.id}+'/start'">
				          <span class="glyphicon glyphicon-play"></span>
				        </a>
				        <a th:href="@{/containers/}+${container.id}+'/stop'">
				          <span class="glyphicon glyphicon-stop"></span>
				        </a>
				         <a th:href="@{/containers/}+${container.id}+'/remove'">
				          <span class="glyphicon glyphicon-trash"></span>
				        </a>	
        			</td>
      			</tr>
     		</th:block>
    	</tbody> 
     </table>  
	</div> <!-- /container -->
	
	<div th:replace="footer::footer"></div>
</body>
</html>
