<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head >
    <title>Liste des images</title>
    <div th:replace="header::header"></div>
</head>

<body class="p-3 mb-2 bg-dark text-white">
     <h1>DOCKER</h1>
     <p>Hosted on : <strong th:text="${dockerHost}"></strong></p>
     
	<div class="container">
		<form th:action="@{/images/build}" method="post" enctype="multipart/form-data">
			<h3>Créer une image à partir d'un fichier DockerFile</h3>
			<div>
		        <input type="file" id="dockerFile" name="dockerFile" />
		        <input type="submit" value="Créer l'image" />
		    </div>
	
		</form>

	</div> <!-- /container -->
	
	<div th:replace="footer::footer"></div>
</body>
</html>