<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head >
    <title>Liste des images</title>
    <div th:replace="header::header"></div>
</head>

<body class="p-3 mb-2 bg-dark text-white">
     <h1>DOCKER</h1>
     <p>Hosted on : <strong th:text="${dockerHost}"></strong></p>
     
	<div class="container">
	
<!--  		<div class="col-xs-offset-5 col-md-offset-5"> -->
		<p>
        	<a th:href="@{/images/pull/}+'debian:latest'" class="btn btn-success">
        	<!-- <a th:href="@{/images/build}" class="btn btn-success"> -->
          		<span class="glyphicon glyphicon-plus"></span>Ajouter une nouvelle image
        	</a>
      	</p>
<!--       	</div> -->
      
     <table class="table table-dark table-striped">
    	<thead>
    		<tr>
    			<th scope="col" class="bg-info" >#</th>
    			<th scope="col" class="bg-info" >Repository</th>
    			<th scope="col" class="bg-info" >Tag</th>
     			<th scope="col" class="bg-info" >Image ID</th>
    			<th scope="col" class="bg-info" >Created</th>
    			<th scope="col" class="bg-info" >Size</th>
    			<th scope="col" class="bg-info" >Actions</th>
    		</tr>
    	</thead>
    	<tbody>
    		<th:block  th:each="image,line : ${images}">
    			<tr>
    				<td scope="row" th:text="${line.index}"></td>
         			<th:block th:each="repoTag :${image.repoTags}">
		       				<td th:text="${#strings.substringBefore(repoTag, ':')}"></td>
		       				<td th:text="${#strings.substringAfter(repoTag, ':')}"></td>
         			</th:block>
       				<td th:text="${#strings.abbreviate(#strings.substringAfter(image.id,':'), 15)}"></td>
       				<td th:text="${#dates.format(image.created*1000, 'dd-MMM-yyyy')}"></td>
       				<td th:text="${image.size/1048576}+Mo"></td>
       				<td>
						
						<th:block th:each="repoTag :${image.repoTags}">
							<a th:href="@{/containers/create/}+${#strings.substringBefore(repoTag, ':')}">
								<span class="glyphicon glyphicon-play"></span>
				       		</a>
         				</th:block>
				         
				         <a th:href="@{/images/}+${image.id}+'/remove'">
				          <span class="glyphicon glyphicon-trash"></span>
				        </a>	
        			</td>
      			</tr>
     		</th:block>
    	</tbody> 
     </table>

	</div> <!-- /container -->
	
	<div th:replace="footer::footer"></div>
</body>
</html>