<!doctype html>
<html>
  <head>
  	<title>Home</title>
  </head>
  <body ng-app="">
  	<div>
      <label>Name:</label>
      <input type="text" ng-model="yourName" placeholder="Enter a name here"/>
      <hr/>
      <h1>Hello {{yourName}} !</h1>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
  </body>
</html>